<ion-grid>
    <ion-row>
        <ion-col size="6">
            <img src="/assets/img/img1.jpg">
        </ion-col>
        <ion-col size="6">
            <h2>Titul</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero perferendis repellat at beatae, modi
                dolore. Et veritatis cumque dignissimos, ex maiores, distinctio minus perspiciatis omnis, architecto
                officiis aliquam quam dolor? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
                perferendis cumque, illo at cupiditate amet doloribus a harum nobis! Natus impedit eveniet, illo ut
                ea consequuntur expedita tenetur perspiciatis dolor?</p>
            <h2>Localització</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div style="width: 100%"><iframe width="100%" height="300" frameborder="0" scrolling="no"
                                marginheight="0" marginwidth="0"
                                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=ins%20caparrella+(Mi%20nombre%20de%20egocios)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                                    href="https://www.gps.ie/car-satnav-gps/">GPS devices</a></iframe></div>
                    </div>
                    <div class="col-lg-6">
                        <h3>Adreça</h3>
                        <ul>
                            <li>Direccio : Prova</li>
                            <li>Direccio : Prova</li>
                            <li>Direccio : Prova</li>
                            <li>Direccio : Prova</li>
                        </ul>
                        <h3>Contacte</h3>
                        <ul>
                            <li>Contacte : Prova</li>
                            <li>Contacte : Prova</li>
                            <li>Contacte : Prova</li>
                        </ul>
                    </div>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>