<ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col size="10">
            <div style="padding: 20px;">
                <h1>{{!modify ? "Afegeix" : "Modifica"}} animals</h1>
                <form [formGroup]="formGroup" (ngSubmit)="addPet(formGroup.value)">
                    <div style="margin-bottom: 20px;">
                        <input type="text" formControlName="name" placeholder="Introdueix el nom" style="width: 100%;">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <label for="type">Tipus</label>
                        <select style="width: 100%;" id="type" formControlName="type">
                            <option value="dog">Gos</option>
                            <option value="cat">Gat</option>
                        </select>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <label for="main-file">Foto principal</label>
                        <input type="file" (change)="readMainFile($event)" accept="image/*" id="main-file" style="width: 100%;">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <label for="files">Fotos carousel</label>
                        <input type="file" (change)="readCarouselFiles($event)"  multiple="multiple" accept="image/*" id="files" style="width: 100%;">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input type="text" formControlName="biography" placeholder="Biografia" style="width: 100%;">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <select style="width: 100%;" formControlName="sex">
                            <option selected>Sexe</option>
                            <option value="male">Mascle</option>
                            <option value="female">Femella</option>
                        </select>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input type="date" formControlName="birthdate" placeholder="Data de naixament" style="width: 100%;">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <label for="Chip">Chip</label>
                        <select style="width: 100%;" id="chip" formControlName="chip">
                            <option value="yes">Si</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input type="text" style="width: 100%;" formControlName="vaccines" placeholder="Vacunes separat per comes">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input type="text" style="width: 100%;" formControlName="diseases" placeholder="Malalties separat per comes">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input type="text" style="width: 100%;" formControlName="observations" placeholder="Observacions separat per comes">
                    </div>
                    <div>
                        <input type="submit" [disabled]="!formGroup.valid" value="{{modify ? 'Modificar' : 'Afegir'}}">
                    </div>
                </form>
            </div>
            
        </ion-col>
    </ion-row>
</ion-grid>
