<ion-content>
  <div class="container-fluid p-5">
    <ion-button class="btn btn-primary" (click)="reload(0)">Avui</ion-button>
    <ion-button class="btn btn-primary" (click)="reload(1)">Dema</ion-button>
    <ion-button class="btn btn-primary" (click)="reload(2)">Dema passat</ion-button>
      <table>
          <thead>
            <tr>
              <th>Hores</th>
              <th>Cuidador</th>
              <th>Estat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hour of hours; index as i">
              <th scope="row">{{hour.toFixed(2)}}h</th>
              <td><span>{{getName(retrieveByHour(i))}}</span></td>
              <td><ion-button class="btn btn-dark" (click)="volunteerAdd(i)" [disabled]="retrieveByHour(i).length > 0 && retrieveByHour(i)[0].refPet == id">Reservar</ion-button></td>
            </tr>
          </tbody>
        </table>
  </div>
</ion-content>
