<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="10">
                <form [formGroup]="formGroup" (ngSubmit)="signIn(formGroup.value)">
                    <h1 class="ion-text-uppercase">Inicia sesió</h1>
                    <ion-list>
                        <ion-item>
                            <ion-input formControlName="email" labelPlacement="floating">
                                <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input formControlName="password" labelPlacement="floating" type="password">
                                <div slot="label">Contrasenya <ion-text color="danger">(Required)</ion-text></div>
                            </ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-button type="submit" [disabled]="!formGroup.valid">Iniciar sesió</ion-button>
                    <ion-button (click)="signInGoogle()" color="light"><img src="/assets/img/google.png" width="20" height="20" alt="google"
                                style="margin-right: 5px; ">Google</ion-button>
                    <p class="text-center mt-3">
                        o <strong [routerLink]="['/signUp']" style="cursor: pointer;">Crea el teu compte</strong>
                    </p>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


