<!-- <header>
  <div class="left">
    <img src="/assets/img/logo.png" width="50" height="50">
    <a class="navbar-brand" href="#">Protectora de animals</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse list" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        
    </ul>
  </div>
</header> -->

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu navegació</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item><a class="nav-link" routerLink="/home">Inici</a></ion-item>
      <ion-item><a class="nav-link" routerLink="/cats">Gats</a></ion-item>
      <ion-item><a class="nav-link" routerLink="/dogs">Gossos</a></ion-item>
      <ion-item *ngIf="checkUserIsAdmin()"><a class="nav-link" routerLink="/addPet">Afegir animal</a></ion-item>
      <ion-item *ngIf="!isUserLogged"><a class="nav-link" routerLink="/signIn">Autenticar</a></ion-item>
      <ion-item *ngIf="isUserLogged"><a class="nav-link" routerLink="dogs" (click)="logOut()">Tancar sessió</a></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
  </ion-content>
</div>






