<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu navegació</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item><a class="nav-link" routerLink="/home">Inici</a></ion-item>
      <ion-item><a class="nav-link" routerLink="/cats">Gats</a></ion-item>
      <ion-item><a class="nav-link" routerLink="/dogs">Gossos</a></ion-item>
      <ion-item *ngIf="checkUserIsAdmin()"><a class="nav-link" routerLink="/addPet">Afegir animal</a></ion-item>
      <ion-item *ngIf="!isUserLogged"><a class="nav-link" routerLink="/signIn">Autenticar</a></ion-item>
      <ion-item *ngIf="isUserLogged"><a class="nav-link" routerLink="dogs" (click)="logOut()">Tancar sessió</a></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</div>






