<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="10">
                <form [formGroup]="formGroup" (ngSubmit)="createAccount(formGroup.value)">
                    <h1>Crea el teu compte</h1>
                    <ion-list>
                        <ion-item>
                            <ion-input formControlName="name" labelPlacement="floating">
                                <div slot="label">Nom: <ion-text color="danger">(Required)</ion-text></div>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input formControlName="surnames" labelPlacement="floating" type="text">
                                <div slot="label">Cognoms: <ion-text color="danger">(Required)</ion-text></div>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input formControlName="email" labelPlacement="floating" type="email">
                                <div slot="label">Email: <ion-text color="danger">(Required)</ion-text></div>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input formControlName="password" labelPlacement="floating" type="password">
                                <div slot="label">Contrasenya: <ion-text color="danger">(Required)</ion-text></div>
                            </ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-button type="submit" [disabled]="!formGroup.valid">Crear compte</ion-button>
                    <ion-button routerLink="/signIn" color="light">Iniciar sesió</ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
