<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngIf="pet">
        <div class="carousel">
          <img src="{{getImg()}}" alt="img">
          <div class="arrows">
            <div class="elem" (click)="move(-1)">
              &leftarrow;
            </div>
            <div class="elem" (click)="move(1)">
              &rightarrow;
            </div>
          </div>
        </div>
      </ion-col>
       <ion-col size="6" *ngIf="pet">
        <h2>Història</h2>
        <p>
          {{ pet.biography }}
        </p>
        <h2>Dades</h2>
        <ul>
          <li>Sexe: {{ pet.type == "dog" ? "gos" : "gat" }}</li>
          <li>Data naixament : {{ pet.birthdate }}</li>
          <li>Xip : {{ pet.chip == "yes" ? "si" : "no" }}</li>
          <li>Vacunes : {{ pet.vaccines }}</li>
          <li>Malalties : {{ pet.diseases }}</li>
          <li>Observacions : {{ pet.observations }}</li>
        </ul>
       </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
